
#formulario-container {
    display: flex;
    justify-content: center;
 
    height: 20vh;
}


#princesas img {
    filter: blur(0px);
    width: 500px; 
    height: 500px;
    align-self: center;
    max-width: 400px; 
    padding: 10px; 
    border: 1px solid #060404; 
    border-radius: 8px; 
     
}

#villanos img{
    filter: blur(0px);
    width: 500px;
    height: 500px;
    backdrop-filter: 10px ;
    align-self: center;
    max-width: 400px; 
    padding: 10px; 
    border: 1px solid #0d0c0c; 
    border-radius: 8px; 
    
    
}
#formulario {
    text-align: center;
    max-width: 400px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
}


  
