
#formulario-container {
    display: flex;
    justify-content: center;
 
    height: 20vh;
}

#formulario {
    text-align: center;
    max-width: 400px; /* Añadido un ancho máximo al formulario */
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
}



  
#princesas img {
    filter: blur(5px);
    width: 500px; 
    height: 500px; 
}

#villanos img{
    filter: blur(5px);
    width: 500px;
    height: 500px;
}
